#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            data: BoxPrefab {
                black_box: BlackBox {
                    state: [0., 0., 0., 0., 0., 0., 0., 0.],
                },
                sprite: ,
                transform: ,
            },
        ),
        PrefabEntity(
            parent: 0,
            data: Display {
                ui_transform: ,
                ui_image: ,
                box_reader: BoxReader {},
            }
        )
    ],
)
