LevelData(
    prompt: [
        Int(1),
        Int(3),
        Int(2),
        Int(1),
        Int(15),
        Int(0),
    ],
    buttons: [
        (
            button: (
                action: [
                    AddEq(C(1), 0),
                ],
            ),
            transform: (
                translation: (-0.07, 0.0, 0.05),
            ),
        ),
        (
            button: (
                action: [
                    PrintInt(G(0)),
                    Set(C(0), 0),
                ],
            ),
            transform: (
                translation: (0.07, 0.0, 0.05),
            ),
        ),
    ],
)
