BoxData(
    prompt: [
        Int(1),
        Int(3),
        Int(2),
        Int(1),
        Int(15),
        Int(0),
    ],
    buttons: [
        (
            button: (
                [
                    AddEq(C(1), 0),
                ],
            ),
            translation: (-0.10, 0.0, 0.0),
        ),
        (
            button: (
                [
                    PrintInt(G(0)),
                    Set(C(0), 0),
                ],
            ),
            translation: (0.10, 0.0, 0.0),
        ),
    ],
)
