LevelData(
    prompt: [
        Int(-1),
        Int(2),
        Int(1),
        Int(2),
        Int(3),
        Int(0),
        Int(-3),
    ],
    buttons: [
        (
            button: (
                [
                    AddEq(C(-1), 0),
                ],
            ),
            translation: (-0.10, 0.0, 0.0),
        ),
        (
            button: (
                [
                    PrintInt(G(0)),
                ],
            ),
            translation: (0.00, 0.0, 0.0),
        ),
        (
            button: (
                [
                    AddEq(C(1), 0),
                ],
            ),
            translation: (0.10, 0.0, 0.0),
        ),
    ],
)
