LevelData(
    prompt: [
        Int(0),
        Int(0),
        Int(-1),
        Int(-2),
        Int(-1),
        Int(-1),
        Int(0),
        Int(2),
        Int(1),
        Int(0),
        Int(1),
        Int(1),
    ],
    buttons: [
        (
            button: (
                action: [
                    IfElseDo(
                        G(0),
                        [
                            PrintInt(G(1)),
                            AddEq(C(-1), 1),
                        ],
                        [
                            AddEq(C(1), 1),
                        ],
                    )
                            
                ],
            ),
            transform: (
                translation: (0., -5., 1.),
            ),
        ),
        (
            button: (
                action: [
                    AddEq(C(1), 0),
                    Mod(G(0), C(2), 0),
                ],
            ),
            transform: (
                translation: (0., 15., 1.),
            ),
        ),
    ],
)
