LevelData(
    prompt: [
        Int(1),
        Int(2),
        Int(3),
        Int(4),
        Int(5),
        Int(4),
        Int(3),
        Int(2),
        Int(1),
        Int(3),
        Int(5),
        Int(1),
        Int(4),
        Int(2),
    ],
    buttons: [
        (
            button: (
                action: [
                    Mod(G(0), C(3), 1),
                    Mult(G(1), C(2), 1),
                    AddEq(C(1), 1),
                    PrintInt(G(1)),
                ],
            ),
            transform: (
                translation: (-0.12, 0.0, -0.10),
            ),
        ),
        (
            button: (
                action: [
                    AddEq(C(1), 0),
                    Mod(G(0), C(6), 0),
                ],
            ),
            transform: (
                translation: (0.00, 0.0, -0.00),
            ),
        ),
        (
            button: (
                action: [
                    Mod(G(0), C(2), 1),
                    Mult(G(1), C(2), 1),
                    AddEq(C(2), 1),
                    PrintInt(G(1)),
                ],
            ),
            transform: (
                translation: (0.12, 0.0, 0.10),
            ),
        ),
    ],
)
