(
    prompt: [
        Int(-1),
        Int(2),
        Int(1),
        Int(2),
        Int(3),
        Int(0),
        Int(-3),
    ],
    buttons: [
        (
            button: (
                action: [
                    IfElse(G(0), C(1), C(-1), 1),
                    Add(G(1), G(2), 2),
                ],
            ),
            transform: (
                translation: (-0.10, 0.0, -0.00),
            ),
        ),
        (
            button: (
                action: [
                    PrintInt(G(2)),
                ],
            ),
            transform: (
                translation: (0.00, 0.0, 0.10),
            ),
        ),
        (
            button: (
                action: [
                    AddEq(C(1), 0),
                    Mod(G(0), C(2), 0),
                ],
            ),
            transform: (
                translation: (0.10, 0.0, -0.10),
            ),
        ),
    ],
)
